.tree-container{
  width: 300px;
}

.goToCategory{
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.goToCategory:hover {
  font-weight: 700;

}
