<div class="navbar-container">
  <div class="city">
    <button
      appearance="positive"
      tuiButton
      type="button"
      size="m"
      iconStart="@tui.map-pin"
    >
      Воронеж
    </button>
  </div>

  <div class="nav-buttons">

    @if (authService.getRole() == 'ADMIN'){
      <div class="nav-buttons">
        <button class="nav-button"
                appearance="action-grayscale"
                tuiButton
                type="button"
                size="s"
                (click)="toAdminPage()"
        >
          Пользователи
        </button>

      </div>
    }

    @if (authService.getRole() != 'ADMIN'){

      <button class="nav-button"
              appearance="action-grayscale"
              tuiButton
              type="button"
              size="s"
              (click)="toMainPage()"
      >
        Главная
      </button>

      <button class="nav-button"
              appearance="action-grayscale"
              tuiButton
              type="button"
              size="s"
              (click)="toFeedPage()"
      >
        Лента
      </button>
    }

    <button class="nav-button"
            appearance="action-grayscale"
            tuiButton
            type="button"
            size="s"
            (click)="toAdvertisementPage()"
    >
      Объявления
    </button>

    <button class="nav-button"
            appearance="action-grayscale"
            tuiButton
            type="button"
            size="s"
            (click)="toTasksPage()"
    >
      Заказы
    </button>


  </div>



<div class="right-buttons">
  @if (authService.getRole() != 'ADMIN'){
    <button
      appearance="positive"
      iconStart="@tui.heart"
      size="m"
      tuiIconButton
      type="button"
      [style.border-radius.%]="100"
      (click)="toFavoritePage()"
    >
      Favorite
    </button>

    <button
      appearance="positive"
      iconStart="@tui.plus"
      size="m"
      tuiIconButton

      tuiButton
      tuiChevron
      type="button"
      (click)="toCreateAdvertisementPage()">
    </button>
  }


  @if (isAuth()){
    <button
      appearance="positive"
      iconStart="@tui.user"
      size="m"
      tuiIconButton

      tuiButton
      tuiChevron
      type="button"
      [tuiDropdown]="dropdownContentProfile"
      [tuiDropdownManual]="openProfile"
      [tuiObscuredEnabled]="openProfile"
      (click)="onClickProfile ()"
      (tuiActiveZoneChange)="onActiveZoneProfile($event)"
      (tuiObscured)="onObscuredProfile($event)"
    >
      Choose


      <ng-template #dropdownContentProfile>


          <div class="dropdown-buttons">
            @if (authService.getRole() == 'USER') {
            <button
              class="profile-button"
              appearance="flat-grayscale"
              tuiButton
              type="button"
              size="s"
              iconStart="@tui.user"
              (click)="toProfilePage()"
            >
              Профиль
            </button>

            <button
              class="profile-button"
              appearance="flat-grayscale"
              tuiButton
              type="button"
              size="s"
              iconStart="@tui.layout-list"
              (click)="toMyTasksPage()"
            >
              Мои заказы
            </button>
        }
          <button
            class="profile-button"
            appearance="flat-destructive"
            tuiButton
            type="button"
            size="s"
            iconStart="@tui.log-out"
            (click)="logout()"
          >
            Выйти
          </button>
        </div>
      </ng-template>
    </button>
  } @else {
    <button
      appearance="positive"
      iconStart="@tui.log-in"
      size="m"
      tuiIconButton

      tuiButton
      tuiChevron
      type="button"
      [style.border-radius.%]="100"
      (click)="toLoginPage()"
    >
      Favorite
    </button>
  }

</div>

</div>
