.main-container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  height: 600px;
  width: 600px;
  border-radius: 15px;
}

.input-login{
  width: 500px;
}

.send-button{
  width: 84%;
}
