<div class="very-main-container">
  <div class="main-container">
    @if (tasks.length > 0){
      @for(task of tasks; track task){
        <div
          class="card-container"
          tuiAppearance="floating"
        >
          <div class="task-container">
            <div class="card-text-left">
              <div>
                <h1>{{task.title}}</h1>
                <div class="card-description">{{task.description}}</div>
              </div>
              <div class="card-price">{{task.price}} ₽</div>
            </div>

            <div class="card-text-right">


              <div>
                <div class="card-description">Откликов: {{task.workers.length}}</div>

                <div class="card-description">Дедлайн: 18.01.26</div>

              </div>
            </div>
          </div>

          <div class="workers-container">
            <div class="divider"></div>

            @if (!task.acceptedWorker){

              <h1 style="margin-left: 20px">Отклики:</h1>

              @if (task.workers.length > 0){
                @for (worker of task.workers; track worker.id) {
                  <div class="worker-card">
                    <div class="left-user-profile">
                      <app-profile-card
                        [id]="worker.id"
                      ></app-profile-card>
                    </div>

                    <div class="right-response-actions">

                      <button
                        class="buttons"
                        appearance="positive"
                        iconStart="@tui.check"

                        tuiIconButton
                        type="button"
                        [style.border-radius.%]="100"
                        (click)="confirmWorker(worker.id, task.id)"
                      >
                        Favorite
                      </button>

                      <app-get-contacts-button
                        [id]="worker.id"
                      ></app-get-contacts-button>

                      <button
                        class="buttons"
                        appearance="secondary-destructive"
                        iconStart="@tui.x"

                        tuiIconButton
                        type="button"
                        [style.border-radius.%]="100"
                        (click)="removeWorker(task.id, worker.id)"
                      >
                        Favorite
                      </button>
                    </div>
                  </div>
                }
              }@else{
                <h2 style="margin-left: 20px; color: #939393; font-weight: 500" >Пока никто не откликнулся</h2>
              }
            } @else {
              <div class="worker-card">
                <div class="left-user-profile">
                  <app-profile-card
                    [id]="task.acceptedWorker.id"
                  ></app-profile-card>
                </div>

                <div class="right-response-actions">
                  <app-get-contacts-button
                  [id]="task.acceptedWorker.id"
                  ></app-get-contacts-button>
                </div>
              </div>

            }
          </div>
        </div>
      }
    }
    @else{
      <h1 style="color: #939393" >У вас пока нет заказов...</h1>
    }
  </div>
</div>

