.main-container{
  display: flex;
  flex-direction: row;
  gap: 20px
}

.avatar{
}

.rating {
  fill: currentColor;
  font-size: 0.3rem;
  inline-size: 5rem;
  margin-top: 10px;
}

.profile-text{
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 20px;
  font-weight: 700;

}

.reviews-count{
  font-size: 14px;
  font-weight: 700;
  color: #474747;
}

.seller-name{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
