.adv{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-container{
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки */
  gap: 10px;

  /* Адаптив */
  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr; /* 1 колонка */
    gap: 16px;
  }
}

.sort{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.pagination{
  margin-top: 50px;
  margin-bottom: 50px;
}

.dropdown-buttons{
  display: flex;
  flex-direction: column;
}

