<app-search (searchValue)="onSearch($event)" ></app-search>

<div class="adv">
  <div class="page-container">

    <div class="categories-tree">

      <h2>Категории:</h2>

      <div
        role="tree"
        [tuiTreeController]="true"
      >
        <app-category-tree
          [categories]="categories"
          (toCategory)="setCategory($event)"
        ></app-category-tree>

      </div>
    </div>

      <div class="cards-container">

        <div class="cards-block">

          <app-navigation
            [categoryId]="currentCategory"
            (toCategory)="setCategory($event)"
          ></app-navigation>

          <div class="sort">
            <app-sort-select (value)="getSortValue($event)"></app-sort-select>
          </div>

        @if (newAdvertisements.length > 0) {
          <div class="cards-container">
            @for (ad of newAdvertisements; track ad.id) {
              <div
                class="adv-container">

                <app-adverticement-card
                  [advertisement]="ad"
                  [favouriteAdvertisements]="favouriteAdvertisements"
                />
              </div>
            }
          </div>
        } @else {
          <div class="cards-container">
            <h1>Нет объявлений(((</h1>
          </div>
        }
      </div>
    </div>


  </div>
</div>

<tui-pagination class="pagination"
  [index]="index"
  [length]="length"
  (indexChange)="goToPage($event)"
/>
