.card-container {
  width: 250px;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;

}

.adv-image {
  height: 230px;
  width: 230px;
  background-color: darkgrey;
  margin-top: 10px;
  border-radius: 10px;
}

.card-content{
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-text{
  margin-left: 10px;
}

.card-actions{
  padding: 10px;
}

.price {
  font-size: 18px;
  color: var(--tui-positive);
  font-weight: bold;
  padding-bottom: 10px;
}

