.card-container {
  width: 250px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;

}

.adv-image {
  height: 200px;
  width: 200px;
  background-color: darkgrey;
  margin-top: 20px;
  border-radius: 10px;
}

.card-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  padding: 10px;
  flex: 1;
}

.title {
  margin: 0 0 8px 0;
  font-weight: bold;
}

.price {
  font-size: 18px;
  color: var(--tui-positive);
  font-weight: bold;
}

.card-footer {
  padding: 16px;
  border-top: 1px solid var(--tui-base-03);
}
