.sort{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.dropdown-buttons{
  display: flex;
  flex-direction: column;
  padding: 3px;
}


.profile-button{
  font-size: 14px;
  width: 100px;
}
