.sort{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}

.dropdown-buttons{
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 150px;
}


.profile-button{
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
