.main-container{
  display: flex;
  justify-content: center;

}

.content{
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки */
  gap: 10px;

  /* Адаптив */
  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr; /* 1 колонка */
    gap: 16px;
  }
}

.pagination{
  margin-top: 50px;
  margin-bottom: 50px;
}
