.main-container{
  display: flex;
  justify-content: center;
}

.main-block{
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.categories-block{
  margin-top: 40px;
}

.task-block{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
