.main-container{
  display: flex;
  justify-content: center;
}

.main-block{
  display: flex;
  flex-direction: row;
}

.categories-block{
  margin-top: 40px;
}

.task-block{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation-block{
  margin-top: 30px;
}

