.search{
  display: flex;
  justify-content: center;
}

.search-component{
  width: 700px;

}

.search-input{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.input{
  width: 1000px;
}

.header{
  display: flex;
  justify-content: center;
}
