<div class="header-container">
  <div class="header">
    @if (contentType == 'myTasks'){
      <h1>Мои заказы:</h1>
    } @else {
      <h1>Мои отклики:</h1>
    }

    <div class="choose-type">
      <tui-segmented
        size="m"
        class="choose-type">
        <button
          class="choose-type-button"
          type="button"
          (click)="setContentType('myTasks')"
        >Мои заказы</button>
        <button
          class="choose-type-button"
          type="button"
          (click)="setContentType('myResponses')"
        >Мои отклики</button>
      </tui-segmented>
    </div>
  </div>
</div>
@if (contentType == 'myTasks'){
  <app-my-task-card [tasks]="myTasks"></app-my-task-card>
} @else {

  <app-my-response-card
  [tasks]="myResponses">
  </app-my-response-card>
}

