.header{
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card-container {
  width: 500px;
  min-height: 800px;
  border-radius: 21px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-title{
  margin: 0;
}

.main-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  margin-bottom: 20px;
}

.tinder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 15px;
}

.text {
  font-size: 21px;
  font-weight: 500;
  margin: 10px 0;
}

.actions {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
}

.buttons{
  height: 70px;
  width: 70px;
}
