<div class="center">
  <div class="create-card">

    <div class="choose-type">
      <tui-segmented class="choose-create-type">
        <button
          class="choose-type-button"
          type="button"
          (click)="setCreateionType('advertisement')"
        >Объявление</button>
        <button
          class="choose-type-button"
          type="button"
          (click)="setCreateionType('task')"
        >Заказ</button>

      </tui-segmented>
    </div>
    <div>

    @if(createType == 'advertisement'){
      <h1>Создать объявление</h1>
    } @else {
      <h1>Создать заказ</h1>
    }


      <h3>Название:</h3>
      <tui-textfield>
        <textarea
          [(ngModel)]="newAdvertisement.title"
          placeholder="Название"
          tuiTextarea
        ></textarea>
      </tui-textfield>
    </div>

    <div>
      <h3>Описание:</h3>
      <tui-textfield [style.margin-block-end.rem]="1">
        <label tuiLabel>Описание</label>
        <textarea
          [(ngModel)]="newAdvertisement.description"
          tuiTextarea
          [limit]="100"
          [max]="6"
          [min]="3"
        ></textarea>
      </tui-textfield>
    </div>

    <div class="input-category">
      <h3>Выбор категории:</h3>
      <tui-textfield tuiChevron>
        <select
          aria-label="Select food"
          placeholder="Выбрать категорию"
          tuiSelect
          [formControl]="categoryControl"
          [items]="groupItems"
          [labels]="labels"
        ></select>
      </tui-textfield>
    </div>


    <div>
      <h3>Стоимость:</h3>
      <tui-textfield>
        <textarea
          [(ngModel)]="newAdvertisement.price"
          placeholder="Стоимость"
          tuiTextarea
        ></textarea>
      </tui-textfield>
    </div>

    <h3>Добавьте до 3 фото:</h3>

    <label tuiInputFiles>
      <input
        #validator="tuiInputFilesValidator"
        accept="image/*"
        tuiInputFiles
        [formControl]="control"
        [multiple]="true"
        (reject)="onReject($event)"
      />
    </label>

    <tui-files class="tui-space_top-1">
      @for (file of accepted$ | async; track file) {
        <tui-file
          [file]="file"
          (remove)="onRemove(file)"
        />
      }

      @for (file of rejected; track file) {
        <tui-file
          state="error"
          [file]="(file | tuiFileRejected: validator | async) || file"
          (remove)="onRemove(file)"
        />
      }
    </tui-files>

    <tui-error
      [error]="['maxLength'] | tuiFieldError | async"
      [formControl]="control"
    />

    @if(createType == 'advertisement'){
      <button class="send-button"
              appearance="positive"
              size="m"
              tuiButton
              type="button"
              (click)="addNewAdvertisement()"
      >
        Опубликовать объявление
      </button>
    } @else {
      <button class="send-button"
              appearance="positive"
              size="m"
              tuiButton
              type="button"
              (click)="addNewAdvertisement()"
      >
        Опубликовать заказ
      </button>
    }

  </div>
</div>

