<div class="center">
  <div class="create-card">
    <h1>Создать объявление</h1>

    <div>
      <h3>Название</h3>
      <tui-textfield>
        <textarea
          [(ngModel)]="newAdverticement.title"
          placeholder="Название объявления"
          tuiTextarea
        ></textarea>
      </tui-textfield>
    </div>

    <div>
      <h3>Описание</h3>
      <tui-textfield [style.margin-block-end.rem]="1">
        <label tuiLabel>Описание</label>
        <textarea
          [(ngModel)]="newAdverticement.description"
          tuiTextarea
          [limit]="100"
          [max]="6"
          [min]="3"
        ></textarea>
      </tui-textfield>
    </div>

    <div class="input-category">
      <h3>Выбор категории</h3>
      <tui-textfield tuiChevron>
        <select
          aria-label="Select food"
          placeholder="Выбрать категорию"
          tuiSelect
          [formControl]="categoryControl"
          [items]="groupItems"
          [labels]="labels"
        ></select>
      </tui-textfield>
    </div>


    <div>
      <h3>Стоимость:</h3>
      <tui-textfield>
        <textarea
          [(ngModel)]="newAdverticement.price"
          placeholder="Стоимость"
          tuiTextarea
        ></textarea>
      </tui-textfield>
    </div>

    @if (!control.value) {
      <label
        tuiInputFiles
      >
        <input
          accept="image/*"
          capture="user"
          title="Choose files (no limits)"
          tuiInputFiles
          [formControl]="control"
        />
      </label>
    }


    @if (control.valueChanges | async; as file) {
      <tui-files class="tui-space_top-1">
        <tui-file
          [file]="file"
          (remove)="removeFile()"
        />
      </tui-files>
    }



    <button class="send-button"
      appearance="positive"
      size="m"
      tuiButton
      type="button"
            (click)="addNewAdverticement()"
    >
      Опубликовать
    </button>

  </div>
</div>

