.create-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}

.center{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.send-button{
  margin-top: 30px;
}
