.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  fill: currentColor;
  font-size: 0.4rem;
  inline-size: 7rem;
  margin-top: 30px;
}


.avatar{
  margin-top: 20px;
}

.header-container{
  display: flex;
}

.header{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header-info{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.to-contacts-button{
  font-weight: 500;

}

.adv{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-container{
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 колонки */
  gap: 10px;

  /* Адаптив */
  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr; /* 1 колонка */
    gap: 16px;
  }
}

.advertisement-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.advertisements-card{
  display: flex;
  flex-direction: column;
  width: 500px;

}

.pagination{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.choose-create-type{

  width: 200px;

}

.choose-type-button{
  font-weight: 500;
}
