<form
  class="register-form"
  [ngModel]="newUser"
>
<div class="main-container">
  <div
    class="card-container"
    tuiAppearance="floating"
  >
    <div class="content">

    </div>
    <h1>Регистрация:</h1>
      <div class="input-login">
        <h3>Ваше имя:</h3>
        <tui-textfield>
        <textarea
          [(ngModel)]="newUser.fio"
          name="fio"
          placeholder="Введите имя:"
          tuiTextarea
        ></textarea>
        </tui-textfield>
      </div>

      <div class="input-login">
        <h3>Почта:</h3>
        <tui-textfield>
        <textarea
          [(ngModel)]="newUser.email"
          name="email"
          placeholder="Введите ваш email:"
          tuiTextarea
        ></textarea>
        </tui-textfield>
      </div>

      <div>
        <h3>Контакты:</h3>
        <tui-textfield
          class="input-login"
          [style.margin-block-end.rem]="1">
          <label tuiLabel>Telegram/Max/Номер телефона:</label>
          <textarea
            [(ngModel)]="newUser.contacts"
            name="contacts"
            tuiTextarea
            [limit]="100"
            [max]="6"
            [min]="3"
          ></textarea>
        </tui-textfield>
      </div>

      <div class="input-login">
        <h3>Пароль:</h3>
        <tui-textfield>
        <textarea
          [(ngModel)]="newUser.password"
          name="password"
          placeholder="Введите ваш пароль:"
          tuiTextarea
        ></textarea>
        </tui-textfield>
      </div>

    @if (!control.value) {
      <label tuiInputFiles>
        <input
          accept="image/*"
          tuiInputFiles
          [formControl]="control"
        />
      </label>
    }

    <tui-files class="tui-space_top-1">
      @if (control.value | tuiFileRejected: {accept: 'image/*'} | async; as file) {
        <tui-file
          state="error"
          [file]="file"
          (remove)="removeFile()"
        />
      }

      @if (loadedFiles$ | async; as file) {
        <tui-file
          [file]="file"
          (remove)="removeFile()"
        />
      }

      @if (failedFiles$ | async; as file) {
        <tui-file
          state="error"
          [file]="file"
          (remove)="removeFile()"
        />
      }

      @if (loadingFiles$ | async; as file) {
        <tui-file
          state="loading"
          [file]="file"
          (remove)="removeFile()"
        />
      }
    </tui-files>


    <button class="send-button"
            appearance="positive"
            size="m"
            tuiButton
            type="button"
            (click)="registerUser()"
    >
      Зарегистрироваться
    </button>

    <button class="send-button"
            appearance="positive"
            size="m"
            tuiButton
            type="button"
            (click)="toLoginPage()"
    >
      Войти
    </button>


  </div>
</div>
</form>
